html {
  font-family: font-family: 'Open Sans', sans-serif;
  margin: auto;
}

.layout-body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

button {
  height: 100px;
  width: 200px;
  font-size: 2em;
  color: white;
  background-color: #E5B6D5;
  border-top:10px solid #B2479A;
  border-bottom:10px solid #B2479A;
  border-right:10px solid #CC7FB5;
  border-left:10px solid #CC7FB5;
  border-right-style: outset;
  border-left-style: outset;
  margin: 30px;
}

button:hover {
  background-color: #B2479A;
  border-right:10px solid #E5B6D5;
  border-left:10px solid #E5B6D5;
  border-top:10px solid #CC7FB5;
  border-bottom:10px solid #CC7FB5;
}
